.hero {
  justify-content: center;
  h2 {
    margin-bottom: 7px;
  }
  h3 {
    margin-bottom: 72px;
  }
  .search-bar {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    width: 400px;
    position: relative;
    input {
      font-size: 21px;
      background-color: transparent;
      background-image: url("/assets/images/search-icon.png");
      background-position: 25px 17px;
      background-repeat: no-repeat;
      padding: 10px 20px 10px 60px;
      outline: none;
      border: none;
      height: 60px;
      width: 100%;
      color: #ffffff;
      &::placeholder {
        color: #ffffff;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: #ffffff;
      }

      &::-ms-input-placeholder {
        color: #ffffff;
      }
      @media (max-width: 992px) {
        font-size: 16px;
      }
    }
    .search-btn {
      position: absolute;
      right: 9px;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 44px;
      border-radius: 30px;
      padding-inline: 27px;
      font-size: 21px;
      color: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      opacity: 1;
      background: linear-gradient(
        116.56505117707799deg,
        rgba(255, 97, 97, 1) 0%,
        rgba(255, 97, 163, 1) 100%
      );
      border: none;
      transition: all ease-in 0.3s;
      &:hover {
        background: linear-gradient(
          116.56505117707799deg,
          rgba(255, 97, 163, 1) 0%,
          rgba(255, 97, 97, 1) 100%
        );
      }
      &:active {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        transform: translateY(1px);
      }
    }
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}

.trending {
  h2{
    font-size: 32px;
    color: #7BFBFF;
  }
}
